<div class="limiter">

    <div class="container-login100">

        <div class="wrap-login100">

            <form class="login100-form validate-form" [formGroup]="loginFormGroup">
                
                <span class="login100-form-title p-b-34">
                    Iniciar Sesión
                </span>
                <br><br>
                <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                  <!-- <mat-form-field class="example-full-width">
                        <mat-label>Usuario</mat-label>
                    <textarea matInput placeholder="Ingrese su usuario" id="first-name" class="input100" name="username"></textarea>
                      </mat-form-field>
                    --> 
                    <mat-form-field class="example-full-width">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="Ingrese su usuario" type="email" id="first-name" class="input100" name="username" formControlName="email">
                      </mat-form-field>
                      <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                    <mat-form-field class="example-full-width">
                        <mat-label>Contraseña</mat-label>
                        <input matInput class="input100" type="password" name="pass" placeholder="Contraseña" formControlName="password">
                      </mat-form-field>
                      <span class="focus-input100"></span>
                </div>
                <mat-card>
                <div class="container-login100-form-btn">
                    <button mat-raised-button color="primary" [disabled]="loginFormGroup.invalid" (click)="login()">Iniciar Sesión</button>                    
                </div>
            </mat-card>
                <mat-card>
                <div class="container-login100-form-btn">
  
                    <button mat-raised-button color="warn" id="btnGoogle">
                        Iniciar Sesión con Google
                    </button>

                </div>
                </mat-card>
                <div class="w-full text-center p-t-27 p-b-239">
                    <span class="txt1">
                        Olvidaste:
                    </span>

                    <a  class="txt2">
                        Usuario y/o Contraseña?
                    </a>
                </div>

                <div class="w-full text-center">
                    <a  routerLink='/signup' class="txt3">
                        Registrarse
                    </a>
                </div>
            </form>
            <div class="login100-more" style="background-image: url('../../assets/galaxy.png');"></div>
        </div>
    </div>
</div>



<div id="dropDownSelect1"></div>
