<div class="signup">
    <div class="signup-form">
        <img src="../../assets/galaxy.png" style="width: 200px; height:100px;">
        <form class="" action="index.html" method="post">
          <h1>Registrarse</h1>
          <input type="text" placeholder="Nombre" class="txtb">
          <input type="email" placeholder="Email" class="txtb">
          <input type="password" placeholder="Contraseña" class="txtb">
          <input type="password" placeholder="Confirmar Contraseña" class="txtb">
          <input type="submit" value="Crear Cuenta" class="signup-btn"  routerLink="/home">
          <a routerLink="/login">¿Ya tienes una cuenta?</a>
        </form>
      </div>
</div>