<app-header></app-header>
<div class="formulario">
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Ingrese su dirección</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Dirección">
      </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Suba una imagen</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Ingrese su correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      </div>
    <input  class="btn btn-primary btn-lg btn-block" type="submit" value="Ingresar">

  </form>
</div>